/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

html{
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

strong{
  font-weight: bold;
  
}

.principal {
  max-width: 90rem;
  margin: 13.5rem auto;
}

.card {
  background: rgb(40, 58, 138);
  max-width: 90rem;
  padding: 2rem;
  background: rgb(172,79,125);
  background: linear-gradient(0deg, rgba(172,79,125,1) 6%, rgba(48,68,113,1) 100%);
  overflow: hidden;
  display: flex;
  background: rgba(82, 181, 247, 0.2);
  background: rgb(4 32 49 / 70%);
}

.card h1 {
  font-size: 7rem;
  font-family: 'Lato', sans-serif;
  padding: 2.5rem;
  width: 46.2rem;
  display: inline-block;
}

.whiteText {
  color: white;
}

.label {
  font-family: 'Courier Prime', monospace;
  font-size: 2rem;
  padding: 1rem 0;
  display: inline-flex;

}

.round {
  border-radius: 50%;
}

.pfpSection {
  width: 24rem;
  max-width: 24rem;
  margin-right: 10rem;
  margin-top: 3.8rem;
  justify-items: center;
  align-items: center;
}
.profilePic {
  width: 22rem;
  height: 22rem;
}



.mainSection {
  padding: 2rem 0;
  background: black;
  background: url(https://cdn.discordapp.com/attachments/847540317796565064/949487441969037352/blue-smoky-art-abstract-background_-_copia.jpg);
  background-size: cover;
  padding-bottom: 0;
}

.buttons {
  clear: both;
  display: inline-block;
  padding: 0;
  display: none;
}


.button {
  font-size: 3rem;
  background: white;
  display: inline-block;
}

.border{
  padding: 0;
  margin: 0;
  background: url(img/border.png);
  box-sizing:content-box;
  height: 10rem;
  display: block;
  width: 100%;
}

.border img {
  width: 100%;
  height: 10rem;
  box-sizing: border-box;
}

.socialMediaBar {


}

.socialMedias {
  display: flex;
  justify-content: flex-start;
  height: 6rem;
}

.socialMedias li {
  /* min-width: 6rem; */
  width: 6.5rem;
  padding: 1rem;
  /* position: absolute; */
}

.socialMedias img {
  width: 5.1rem;
  height: auto;
  transition-property: transform;
  transition-duration: .2s, 1s;
  transition-timing-function: linear;
  position:static;
}

.socialMedias img:hover {
  transform: scale(1.3);
}

.blockContainer {
  display: flex;
  justify-content: center;
  
  /* padding-right: max(15px, 5%);*/
  

  
}

.block {
  clear: both;
  padding: 2rem 3.2rem;
  max-width: 120rem;
  width: min(120rem, 80%);
}

.block h2 {
  font-size: 9.2rem;
  font-family: 'Staatliches', cursive;
}

.block p {
  font-size: 2.6rem;
}

.projects {
  background: rgb(233 212 114);
}

.projects .gallery {
  display: flex;
  justify-content: center;
  padding: 3.2rem;
}

.projects .gallery ul{
  width: 900px;
  display: flex;
  justify-content: space-around;
  justify-self: center;
  /* align-self: center; */
}

.projects .gallery li {
  display: inline-flex;
}

.projects .gallery img {
  min-width: 200px;
  min-height: 300px;
  width: 200px;
  height: 300px;
  position: relative;	
  box-shadow: 23px 18px 2px 0px #c9ae2f;
  transition-property: box-shadow;
  transition-duration: .2s, 1s;
  transition-timing-function: linear;
}

.projects .gallery img:hover {
  position: relative;	
  border: 2px solid black;
  box-shadow: 35px 33px 2px 0px #c9ae2f;
}

footer {
  background: black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
